*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color: #222;
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.resume {
  padding-bottom: 2rem;
  width: 1200px;
  height: 95%;
  border-radius: 5px;
  background-color: #fafafa;
  overflow-y: auto;
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3), 5px 5px 40px rgba(0, 0, 0, 0.2);
}
.resume::-webkit-scrollbar {
  width: 10px;
}
.resume::-webkit-scrollbar-thumb {
  background: #636161;
  border-radius: 10px;
}
.resume::-webkit-scrollbar-thumb:hover {
  background: #222;
}
.resume__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.resume__wrapper .resume__btn-block {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
}
.resume__wrapper .resume__btn {
  display: inline-block;
  color: #fafafa;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #222;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  border: 2px solid #222;
}
.resume__wrapper .resume__btn:hover {
  background-color: #fafafa;
  color: #222;
}
.resume__collumn {
  width: 50%;
  padding-bottom: 5rem;
  min-height: 100%;
}
.resume__collumn:first-child {
  background-color: #f0f0f0;
}
.resume__collumn .section:last-child {
  padding-top: 0;
}

.main__raw {
  display: block;
  background-image: none;
}

.resume__raw {
  height: auto;
  margin: 0 auto;
}

.info {
  width: 100%;
  font-size: 2rem;
}
.info__name {
  color: #333333;
}
.info__name > span {
  display: block;
}
.info__name--first {
  font-size: 2.5em;
  font-weight: 300;
}
.info__name--last {
  font-size: 4.5em;
  margin-top: -0.5em;
}
.info__job {
  display: inline-block;
  background-color: #333333;
  color: #fafafa;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.contact {
  font-size: 1.8rem;
  line-height: 2;
}
.contact li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.contact__icon-wrapper {
  width: 35px;
  height: 35px;
  background-color: #222;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.contact__icon-wrapper i {
  color: #fafafa;
}
.contact__info {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 1rem;
  color: #222;
}

.section {
  padding: 2rem 5rem;
}
.section__title, .section__sub-title {
  line-height: 2;
}
.section__title {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
}
.section__sub-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #79797b;
}
.section__list {
  list-style: disc;
  list-style-position: inside;
  font-size: 1.5rem;
  line-height: 2;
}
.section__list-details {
  font-weight: 600;
  text-transform: uppercase;
}
.section__paragraph {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}
.section__paragraph > p {
  display: list-item;
  list-style-position: inside;
  list-style-type: circle;
  margin-bottom: 1rem;
}
.section__paragraph:last-child {
  padding-bottom: 0;
}
.section__describe {
  font-size: 1.5rem;
}
.section__describe span {
  line-height: 1.5;
  display: block;
  padding-bottom: 0.5rem;
}
.section__describe--link {
  padding-top: 0.5rem;
}
.section__describe--main {
  font-weight: 600;
}
.section__link {
  color: blue;
  letter-spacing: 2px;
}
.section__group {
  padding-bottom: 1rem;
}
.section__group:last-child {
  padding-bottom: 0;
}
.section__group-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.section__group-heading::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #222;
  transform: translateX(-50%);
  border-radius: 50%;
  margin-right: 1.5rem;
  margin-left: 1px;
}
.section__group-content {
  border-left: 3px solid #222;
  padding-left: 2.5rem;
}
.section__group-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.section__group-details {
  display: block;
  color: #79797b;
  font-size: 1.5rem;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .resume {
    width: 800px;
  }
  .resume__collumn {
    width: 100%;
  }
  .resume__collumn:first-child {
    background-color: transparent;
    padding-bottom: 0;
  }
  .resume__collumn:last-child {
    padding-top: 0;
  }
  .resume__row {
    display: flex;
  }
  .resume__row--center {
    align-items: center;
  }
  .resume__collumn .section:last-child {
    padding-top: 2rem;
  }

  .section:nth-child(odd) {
    background-color: #f0f0f0;
  }
  .section__group--wrapper {
    display: flex;
    align-items: center;
  }
  .section__group--reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .section__group--reverse .section__title {
    width: 100%;
  }
  .section__group--reverse .section__group {
    width: 48%;
  }
}
@media (max-width: 799px) {
  .resume {
    height: 100%;
  }
  .resume__collumn .section:last-child {
    padding-bottom: 8rem;
  }

  .resume__raw {
    width: 100%;
  }

  .section__group--wrapper, .section__group--reverse {
    flex-direction: column;
  }
  .section__group--wrapper {
    align-items: center;
    text-align: center;
  }
  .section__group--reverse .section__group {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .section {
    padding: 2rem;
  }
  .section__title {
    font-size: 2rem;
  }
  .section__sub-title {
    font-size: 1.5rem;
  }
  .section__paragraph {
    line-height: 1.8;
  }
  .section__paragraph > p {
    margin-bottom: 1.5rem;
  }
  .section__paragraph:last-child {
    padding-bottom: 0;
  }
  .section__group-heading .section__group-details {
    width: 100%;
    padding: 1rem 0;
    padding-left: 2.6rem;
    border-left: 3px solid #222;
  }
}

/*# sourceMappingURL=style.css.map */
